In [16]:
import pandas as pd
import json

In [17]:
raw_data = pd.read_csv('../../data/movies.csv')
print(raw_data.shape)
print(raw_data.dtypes)
raw_data.head()

(4000, 41)
adult                                       bool
backdrop_path                             object
genre_ids                                 object
id                                         int64
original_language                         object
original_title                            object
overview                                  object
popularity                               float64
poster_path                               object
release_date                              object
title                                     object
video                                       bool
vote_average                             float64
vote_count                                 int64
budget                                     int64
genres                                    object
imdb_id                                   object
production_companies                      object
production_countries                      object
revenue                                    int64
runtime                                    int64
status                                    object
tagline                                   object
spoken_languages                          object
domestic_opening                         float64
domestic_gross                           float64
asia_pacific_opening                     float64
asia_pacific_gross                       float64
europe_middle_east_and_africa_opening    float64
europe_middle_east_and_africa_gross      float64
latin_america_opening                    float64
latin_america_gross                      float64
china_opening                            float64
china_gross                              float64
domestic                                 float64
international                            float64
worldwide                                float64
by_release_opening                       float64
by_release_gross                         float64
by_region_opening                        float64
by_region_gross                          float64
dtype: object

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,...,latin_america_gross,china_opening,china_gross,domestic,international,worldwide,by_release_opening,by_release_gross,by_region_opening,by_region_gross
0,False,/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg,"[878, 28, 12]",912649,en,Venom: The Last Dance,Eddie and Venom are on the run. Hunted by both...,3197.278,/aosm8NMQ3UyoBVpSxyimorCQykC.jpg,2024-10-22,...,20365630.0,0.0,14700000.0,128094490.0,308500000.0,436594490.0,NaN,NaN,NaN,NaN
1,False,/18TSJF1WLA4CkymvVUcKDBwUJ9F.jpg,"[27, 53, 9648]",1034541,en,Terrifier 3,Five years after surviving Art the Clown's Hal...,2204.248,/l1175hgL5DoXnqeZQCcU3eZIdhX.jpg,2024-10-09,...,3556242.0,NaN,NaN,53981071.0,31395883.0,85376954.0,NaN,NaN,NaN,NaN
2,False,/v9acaWVVFdZT5yAU7J2QjwfhXyD.jpg,"[16, 878, 10751]",1184918,en,The Wild Robot,"After a shipwreck, an intelligent robot called...",1868.856,/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg,2024-09-12,...,42402473.0,3207589.0,7133654.0,137913995.0,171143000.0,309056995.0,NaN,NaN,NaN,NaN
3,False,/2fxnTXr8NwyTFkunkimJkGkhqfy.jpg,"[18, 28, 27]",1118031,es,Apocalipsis Z: el principio del fin,When a kind of rabies that transforms people i...,1861.349,/wIGJnIFQlESkC2rLpfA8EDHqk4g.jpg,2024-10-04,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,False,/8mjYwWT50GkRrrRdyHzJorfEfcl.jpg,"[28, 12, 18]",558449,en,Gladiator II,Years after witnessing the death of the revere...,1978.412,/2cxhvwyEwRlysAmRH4iodkvo0z5.jpg,2024-11-13,...,8405072.0,NaN,NaN,0.0,87000000.0,87000000.0,NaN,NaN,NaN,NaN

In [18]:
raw_data = raw_data.drop(labels=['adult', 'video', 'original_title', 'original_language', 'by_release_opening', 'by_release_gross', 'by_region_opening', 'by_region_gross', 'genres', 'china_opening', 'china_gross'], axis=1)
print(raw_data.shape)
raw_data.head()

(4000, 30)

,backdrop_path,genre_ids,id,overview,popularity,poster_path,release_date,title,vote_average,vote_count,...,domestic_gross,asia_pacific_opening,asia_pacific_gross,europe_middle_east_and_africa_opening,europe_middle_east_and_africa_gross,latin_america_opening,latin_america_gross,domestic,international,worldwide
0,/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg,"[878, 28, 12]",912649,Eddie and Venom are on the run. Hunted by both...,3197.278,/aosm8NMQ3UyoBVpSxyimorCQykC.jpg,2024-10-22,Venom: The Last Dance,6.500,759,...,128094490.0,12669884.0,37742128.0,27725511.0,66814517.0,8394231.0,20365630.0,128094490.0,308500000.0,436594490.0
1,/18TSJF1WLA4CkymvVUcKDBwUJ9F.jpg,"[27, 53, 9648]",1034541,Five years after surviving Art the Clown's Hal...,2204.248,/l1175hgL5DoXnqeZQCcU3eZIdhX.jpg,2024-10-09,Terrifier 3,6.925,1012,...,53981071.0,1201876.0,4909632.0,10667946.0,22930009.0,1784896.0,3556242.0,53981071.0,31395883.0,85376954.0
2,/v9acaWVVFdZT5yAU7J2QjwfhXyD.jpg,"[16, 878, 10751]",1184918,"After a shipwreck, an intelligent robot called...",1868.856,/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg,2024-09-12,The Wild Robot,8.500,2899,...,137913995.0,4513231.0,26267130.0,16983417.0,83132264.0,7359239.0,42402473.0,137913995.0,171143000.0,309056995.0
3,/2fxnTXr8NwyTFkunkimJkGkhqfy.jpg,"[18, 28, 27]",1118031,When a kind of rabies that transforms people i...,1861.349,/wIGJnIFQlESkC2rLpfA8EDHqk4g.jpg,2024-10-04,Apocalypse Z: The Beginning of the End,6.769,485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,/8mjYwWT50GkRrrRdyHzJorfEfcl.jpg,"[28, 12, 18]",558449,Years after witnessing the death of the revere...,1978.412,/2cxhvwyEwRlysAmRH4iodkvo0z5.jpg,2024-11-13,Gladiator II,6.800,400,...,NaN,9200000.0,9200000.0,49245191.0,49356871.0,8344008.0,8405072.0,0.0,87000000.0,87000000.0

In [19]:
drop_index = raw_data[raw_data['worldwide'] == 0].index
raw_data = raw_data.drop(drop_index, axis=0).reset_index(drop=True)
print(raw_data.shape)

(2971, 30)

In [20]:
columns_to_check = [
    'domestic_opening',
    'domestic_gross',
    'asia_pacific_opening',
    'asia_pacific_gross',
    'europe_middle_east_and_africa_opening',
    'europe_middle_east_and_africa_gross',
    'latin_america_opening',
    'latin_america_gross']

drop_index = raw_data[raw_data[columns_to_check].isnull().all(axis=1)].index

raw_data = raw_data.drop(drop_index, axis=0).reset_index(drop=True)
print(raw_data.shape)

(2002, 30)

In [21]:
raw_data = raw_data.drop(['status', 'backdrop_path', 'poster_path', 'revenue'], axis=1)

In [ ]:
with open('../../data/genres.json') as f:
    genre_ids = {i['id']: 'genre_' + i['name'] for i in json.load(f)['genres']}
for id, genre in genre_ids.items():
    raw_data[genre] = raw_data['genre_ids'].apply(lambda x: str(id) in x)

In [23]:
raw_data.to_csv('../../data/processed_movies_1.csv')